@import 'siteVars.scss';
@import 'Mixins/animationMixins.scss';
@import 'Mixins/sizeMixins.scss';

$resume-indent: 16px;
$bottom-padding:4px;

%ul-block{
    ul{
        li{color:green;}
    }
}

#resume{

    color:white;
    font-size:12px;
    position:relative;
    top:90px;

    ul{
        list-style-type:none;
        padding:0;
        li{
            padding:0 0 0 $bottom-padding;
            margin:0;
            //border:1px solid white;
            height:$resume-indent + $bottom-padding;
        }

        @for $i from 1 to 20{
            li:nth-child(#{$i}){
                padding-left:#{($i * ($resume-indent+ $bottom-padding))}; 
            }
        }

        .resume-block{
            height: ($resume-indent + $bottom-padding) * 2;
            ul{
                height:50px;
                padding-left:20px;
                li{
                    padding:0;
                    margin:0;
                    height:$resume-indent + $bottom-padding;
                }
            }
        }

        .block-info{
            padding:0 0 0 20px;
            p{
                margin:0;
                padding:0;
            }
        }
    }

    //@include animation(menu-items-intro, 1s, $quick-ease-in, 1, $zano-container-animation-time + $triangle-animation-time + 2000, forwards);
}


@include keyFrames(menu-items-intro) {
    100% {
        opacity: 1;
    }
}
