@import 'siteVars.scss';
@import 'Mixins/animationMixins.scss';
@import 'Mixins/sizeMixins.css';

body {
    font-family: 'Orbitron', sans-serif;
}

#content {
    opacity:1;

    background-repeat: no-repeat;
    background-attachment: fixed; //makes it so that when you scroll, background will not
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;

    &.ng-enter, &.ng-leave {
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    &.ng-enter, &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
        opacity: 1;
        display:none;
    }
}
