@import '../siteVars.scss';
@import '../Mixins/animationMixins.scss';
@import '../Mixins/sizeMixins.scss';



#zano-container {

    @include setSizeAndPosition(400px, 10px, absolute, 50%, 300px, null, null, -1 * 200px);
    opacity: 0;
    background: linear-gradient($colorBlue, $colorBlueDarken1);
    border: 1px solid $colorBlueLighten1;
    box-shadow: 10px 10px 10px $baseVSBlack;
    overflow: hidden;

    &.animate-in {
        @include animation( zanoContainer, $zano-container-animation-time, $quick-ease-in, 1, null, forwards);
    }

    &.spin {
        @include animation(spinZanoContainer, 5000ms, $quick-ease-in, infinite, null, null);
    }

    &.zoom-out {
        @include animation(zoom-out, 1s, $quick-ease-in, 1, null, forwards);
    }
}

@include keyFrames(zanoContainer) {
    50% {
        @include setSizeAndPosition($mainContainerWidth, 10px, null, null, 300px, null, null, -1 * 300px);
    }

    100% {
        @include setSizeAndPosition($mainContainerWidth, $mainContainerHeight, absolute, 50%, 100px, null, null, -1 * $mainContainerWidth/2);
        opacity: 1;
    }
}

@include keyFrames(spinZanoContainer) {
    0% {
        @include setSizeAndPosition($mainContainerWidth, $mainContainerHeight, absolute, 50%, 100px, null, null, -1 * $mainContainerWidth/2);
        opacity: 1;
    }

    100% {
        @include setSizeAndPosition($mainContainerWidth, $mainContainerHeight, absolute, 50%, 100px, null, null, -1 * $mainContainerWidth/2);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        opacity: 1;
    }
}

@include keyFrames(zoom-out) {
    0% {
        @include setSizeAndPosition($mainContainerWidth, $mainContainerHeight, absolute, 50%, 100px, null, null, -1 * $mainContainerWidth/2);
        opacity: 1;
 
    }

    50% {
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;

    }

    100% {
        @include setSizeAndPosition($mainContainerWidth, $mainContainerHeight, absolute, 50%, 100px, null, null, -1 * $mainContainerWidth/2);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
       
    }
}

/*#selected-project {
    position: absolute;
    z-index: 1000;

    &.present-project-left {
        @include animation(present-project-left, 500ms, $quick-ease-in, 1, null, forwards);
    }

    &.present-project-up {
        @include animation(present-project-up, 500ms, $quick-ease-in, 1, null, forwards);
    }
}*/

@include keyFrames(present-project-left) {
    100% {
        left: 0;
    }
}


@include keyFrames(present-project-up) {
    0% {
        left: 0;
    }

    100% {
        left: 0;
        top: 0;
        font-size: 36px;
        margin-top: 20px;
    }
}
