@import '../siteVars.scss';
@import '../Mixins/animationMixins.scss';
@import '../Mixins/sizeMixins.scss';

$indent: 30px;
%commonHubMenuItem{

    color:white;
    margin-bottom:20px;

    -moz-transition: transform 500ms, color 500ms;
    -o-transition: transform 500ms, color 500ms;
    -webkit-transition: transform 500ms, color 500ms;
    transition: transform 500ms, color 500ms;
    position: relative;
    left:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        -moz-transform: translateX(-1px);
        -ms-transform: translateX(-1px);
        -o-transform: translateX(-1px);
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
        color: $colorBlueLighten2;
    }
}

#hub-menu{
    opacity:0;
    position:absolute;
    z-index: 12;
    top:220px;
    padding:0;
    margin:0;
    list-style-type:none;

    @include animation(menu-items-intro, 1s, $quick-ease-in, 1, $zano-container-animation-time + $triangle-animation-time + 2000, forwards);


    @for $i from 1 to 4{
        .hub-menu-item-#{$i}{
            @extend %commonHubMenuItem;
            padding-left:#{($i * $indent)-20}; 
        }
    }
}


@include keyFrames(menu-items-intro) {
    100% {
        opacity: 1;
    }
}
