@import '../siteVars.scss';
@import '../Mixins/animationMixins.scss';
@import '../Mixins/sizeMixins.scss';

$triangleSize: 300px;

#left-triangle {

    @include setSizeAndPosition( $triangleSize, $triangleSize, absolute, -1 *$triangleSize, null, null, -1 *$triangleSize, null );
    background: linear-gradient( 45deg, #303030, $colorBlueDarken2 20%, $colorBlueDarken1 49%, $colorBlueLighten1 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) );

    &.in {
        @include animation(left-triangle-in, $triangle-animation-time, $quick-ease-in, 1, null, forwards );
    }
}

@include keyFrames(left-triangle-in) {
    100% {
        left: 0;
        bottom: 0;
        //z-index:-1;
    }
}

#right-triangle {
    @include setSizeAndPosition( $triangleSize, $triangleSize, absolute, null, -1 *$triangleSize, -1 * $triangleSize, null, null );
    background: linear-gradient( 45deg, rgba(0,0,0,0), rgba(0,0,0,0) 50%, $colorBlueLighten1 50%, $colorBlueDarken1 51%, $colorBlueDarken2 80%, #303030 );

    &.in {
        @include animation(right-triangle-in, $triangle-animation-time, $quick-ease-in, 1, null, forwards );
    }
}

@include keyFrames(right-triangle-in) {
    100% {
        top: 0;
        right: 0;
    }
}
